# Supabase Configuration
# قم بإنشاء مشروع مجاني على https://supabase.com والصق الرابط ومفتاح Anon هنا
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Admin Master Password
VITE_ADMIN_PASSWORD=admin123
